---
title: Nathan's page
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

 <body>

    <p class="intro">Hello my name is <b>Nathan Levine</b>. I'm a lego kid at heart which means I like making things. Now, somewhat older, legos have turned into cooking, woodworking and startups. It's why I became a mobile developer and later started <a class="fishbit_link" href="http://www.currentlabs.io" style="text-decoration:underline"><b>Current Labs</b></a> with some friends. We make smart tools (hardware + software) for enclosed ecosystems like aquariums under our brand <a class="fishbit_link" href="http://www.getfishbit.com" style="text-decoration:underline"><b>Fishbit</b></a> and indoor growing facilities via <a class="fishbit_link" href="http://www.mendelsensors.com" style="text-decoration:underline"><b>Mendel Sensors</b></a>.
    <br><br>
    I'm probably thinking about startups, gambling and football. I have a thing for the Buffalo Bills and the Florida Marlins. They make me wanna shout. Since moving back to Miami I've gotten hooked on ultimate frisbee.</p>

 	<div class="social_media">
      {% include svg-icons.html %}
    </div> 

 </body>

</html>

