---
title: Nathan's page
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

 <body leftmargin="50" rightmargin="50" topmargin="100">

  <p class="intro">Hello my name is <b>Nathan Levine</b>. I do some assortment of philosophizing, coding, building, and learning. Currently I'm building <a class="fishbit_link" href="http://www.getfishbit.com" style="text-decoration:underline"><b>Fishbit</b></a> and <a class="fishbit_link" href="http://www.mendelsensors.com" style="text-decoration:underline"><b>Mendel Sensors</b></a> with some friends while living in Miami. I built this <a class="fishbit_link" href="http://www.nathanl.co/monies" style="text-decoration:underline"><b>calculator</b></a> for hardware folks. I'm probably thinking about startups, gambling and football. I have a thing for the Buffalo Bills. They make me wanna shout.</p>

  <div class="social_media">
    {% include svg-icons.html %}
  </div>

 
 

 </body>

</html>


