<!-- ***** FAQ Start ***** -->
<section class="section bg-top" id="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h1 class="section-title">FAQ</h1>
        </div>
      </div>
      <!-- <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p>Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae. Quisque sit amet nisi erat.</p>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="accordion" id="accordionExample">

          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-1">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                <span class="badge">1</span>Where can I buy Amelias?
              </button>
            </h2>
            <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Right here! Amelias will cost 0.1 ETH + gas. You will also be able to purchase Amelias on the secondary market via OpenSea once the initial drop is completed.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                <span class="badge">2</span>What’s the minting process?
              </button>
            </h2>
            <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>This is a blind drop. Each buyer will receive a random Amelia from the collection that will be revealed 48 hours after the public sale.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-3">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                <span class="badge">3</span>Is there any utility with owning an Amelias NFT?
              </button>
            </h2>
            <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Your Amelia NFT will be recognized in the official Catalogue Raisonné and by the Amelia Pelaez Foundation. You will have an option to make a physical print of your Amelia. You will also gain access to the filmed production of Rum and Coke, an award-winning play by Carmen Pelaez about the journey of discovery of Amelia’s artwork. You will also be whitelisted for future drops run by the Amelia Pelaez Foundation. Further utility is still being developed.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-4">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                <span class="badge">4</span>Can I make a physical print of an Amelia with my NFT?
              </button>
            </h2>
            <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Yes! We are working on a partnership with an art print shop that you could purchase 1 physical print per NFT. Those prints will be stamped by the Amelia Pelaez Foundation and recognized in our Catalogue Raisonné.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-5">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                <span class="badge">5</span>Will there be additional drops?
              </button>
            </h2>
            <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Yes! We are working on some very exciting partnerships and projects. Coming soon.</p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-6">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                <span class="badge">6</span>What blockchain are these NFTs minted on?
              </button>
            </h2>
            <div id="collapse-6" class="accordion-collapse collapse" aria-labelledby="heading-6" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Amelias are minted on the Ethereum blockchain.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** FAQ End ***** -->
