<!-- ***** Header Start ***** -->
<section class="welcome-area bg-bottom-center" id="welcome-1">
  <div class="header-token text" style="margin-top:100px">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12 align-self-center">
          <h1>AMELIAS</h1>
        </div>
        <div class="offset-lg-2 col-lg-8">
          <h3>Do NFTs have the power to right a historical wrong? The Amelia Pelaez Foundation is about to find out.</h3>
          <br>
          <p>“Amelias” is an NFT project that aims to use the power of NFTs to liberate, in more ways than one, the art of Amelia Pelaez from the Cuban government. The drop will happen December 1, 2021 at 6pm EST. The NFT collection will feature 20 Amelias that will each be 1 of 50 for a total collection of 1,000.</p>

          <!-- ***** Token Countdown and Payment Start ***** -->
            <div class="box">
              <div class="offset-lg-3 col-lg-6 col-md-6 cols-m-12">
                <div class="token">
                  <h6 class="title">countdown to <i>Amelias</i> NFT drop</h6>
                  <!-- ***** Countdown Start ***** -->
                  <ul class="countdown">
                    <li>
                      <span class="days">00</span>
                      <p class="days_ref">days</p>
                    </li>
                    <li class="seperator"></li>
                    <li>
                      <span class="hours">00</span>
                      <p class="hours_ref">hours</p>
                    </li>
                    <li class="seperator"></li>
                    <li>
                      <span class="minutes">00</span>
                      <p class="minutes_ref">minutes</p>
                    </li>
                    <li class="seperator"></li>
                    <li>
                      <span class="seconds">00</span>
                      <p class="seconds_ref">seconds</p>
                    </li>
                  </ul>
                  <!-- ***** Countdown End ***** -->
                </div>
              </div>
            </div>
            <!-- ***** Token Countdown and Payment End ***** -->
          </div>
        </div>
      </div>
      <div class="scroll-to">
        <a href="#what-is-ico">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </a>
      </div>
    </div>
</section>
<!-- ***** Header End ***** -->
