<section class="section bg-bottom" id="what-is-amelias">
  <div class="container">

    <!-- ***** what are amelias Start ***** -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
        <img src="assets/images/amelia-2-fish.png" class="img-fluid float-right" alt="Amelia">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
        <div class="left-heading">
          <h2 class="section-title">WHAT ARE <i>AMELIAS</i></h2>
        </div>
        <div class="left-text">
          <p class="dark">The family collection of renowned Cuban artist Amelia Pelaez was seized by the Cuban government upon the death of her sister, Carmen Pelaez del Casal. Amelias is an NFT project by the Amelia Pelaez Foundation to liberate her art. </p>
          <p class="dark">Each buyer will receive a random Amelia from the collection that is displayed in cultural institutions across Cuba. Amelias will be revealed once all of the pieces have been sold.</p>
          <p class="dark">Each Amelia will be recognized by the Amelia Pelaez Foundation as an official NFT of the collection and included in the Catalogue Raisonné.</p>
        </div>
      </div>
    </div>
    <!-- ***** what are amelias End ***** -->

    <br>
    <br>
    <br>
    <br>

    <!-- ***** how to mint ***** -->
    <div class="row m-bottom-70">
      <div class="center-heading">
        <h2 class="section-title">HOW TO MINT</h2>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="features-line line" data-scroll-reveal="enter right move 30px over 0.6s after 0.2s">
          <div class="icon">
            <i class="fa fa-eye-slash"></i>
          </div>
          <h5 class="features-title">1</h5>
          <p>The NFTs will be sold in a blind drop on Wednesday, December 1, 2021 at 6pm EST.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="features-line line" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
          <div class="icon">
            <i class="fa fa-paint-brush"></i>
          </div>
          <h5 class="features-title">2</h5>
          <p>Each NFT in this collection will be 0.1 ETH and buyers can purchase up to 20 pieces per transaction.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
        <div class="features-line">
          <div class="icon">
            <i class="fa fa-magic"></i>
          </div>
          <h5 class="features-title">3</h5>
          <p>NFTs will reveal 48 hours after the public sale.</p>
        </div>
      </div>
    </div>
    <!-- ***** How to mint End ***** -->

    <!-- ***** Story behind amelias Start ***** -->
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 align-self-center">
        <div class="left-heading">
          <h2 class="section-title">THE STORY BEHIND <i>AMELIAS</i></h2>
          <small>by Carmen Pelaez</small>
        </div>
        <div class="left-text">
          <p class="dark">The life of a political exile is not easy. No matter how well you’re doing, surviving authoritarianism always has its inescapable price. For me that price has been paid in the shattering of our family, dealing with generations of trauma and the theft of my great aunt Amelia Pelaez’s artwork.</p>
          <p class="dark">A pillar of the Modernist art movement, Amelia is considered one of Cuba’s greatest artists. Her work is often regarded as the visual expression of Cuba itself. As our family fled Cuba, they deposited their Amelias back at our matriarch’s house,Villa Carmela, where Amelia’s sister, Ninita, their surviving steward and greatest defender, would keep them safe until we could return.  But that ‘return’ never happened. The best I could do was visit Ninita, and spend a few days in the past surrounded by the artwork whose value went far beyond what money could buy...</p>
          <p class="dark">Read more in <a href="https://cmpelaez.medium.com/do-nfts-have-the-power-to-right-a-historical-wrong-b91e70e85c3">Medium</a>.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 align-self-center">
        <img src="assets/images/amelia_1.jpeg" class="img-fluid float-right" alt="Amelia">
      </div>
    </div>
    <!-- ***** Story behind amelias End ***** -->

    <br>
    <br>
    <br>

    <!-- ***** be a part of history Start ***** -->
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 align-self-center">
        <img src="assets/images/amelia-1-fish.jpeg" class="img-fluid float-right" alt="Amelia">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 align-self-center">
        <div class="left-heading">
            <h2 class="section-title">BE A PART OF HISTORY</h2>
        </div>
        <div class="left-text">
          <p class="dark">The Amelia Pelaez Foundation’s NFT drop is about the power of Cuban artists that have been fighting for freedom for generations. Amelia NFT is a collection of Amelias from the Pelaez family collection that were confiscated by the Cuban regime, as well as works that are at Museo de Bellas Artes, currently run by the same dictatorship.</p>
          <p class="dark">Amelia Pelaez broke ground as one of Cuba’s greatest artist of the Avant Garde. She believed that ‘art has to walk’ and rejected all of the affectations and attitudes that came with being an artist. What few know about her is that she was as personally committed to democracy as she was to her work. In the 1930’s she supported the Republicans fighting the fascist Franco in Spain then later participated in exhibitions to assist refugees from the Spanish Republic. She promised to withdraw from the historic MoMA Cuban Painters exhibit if Diago, a Black Cuban artist who had not studied in Europe, was not included. Lastly she refused to participate in the 1953 exhibition in homage to Marti's centennial because it was the illegal government of Fulgencio Batista.</p>
          <p class="dark">Because she was elderly and sick when the Revolution came to power, she was not able to leave Cuba. But she died despondent over what the Castro regime had done to her family, her county and her culture. They took her as a revolutionary symbol, used her confiscated works to reward their thugs and even flooded the market with fake Amelia’s to fill their coffers. But Amelia never belonged to the revolution. Amelia belonged always to Cuba and Cubans wherever they may find themselves.</p>
          <p class="dark">The proceeds from this sale will go to the Amelia Pelaez Foundation and majorly go to creating a definitive Catalogue Raisonné of her work which will effectively wipe fake paintings off the market, cutting off funds from cronies of the Cuban government. And because we know she would support democracy and her fellow artists proceeds from this project will go toward an artist fund to support the movements of 27N and Movimiento San Isidro and also organizations like Miami Freedom Project and others working on democracy initiatives.</p>
        </div>
      </div>
    </div>
    <!-- ***** be a part of history End ***** -->



  </div>
</section>
