<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Amelia Peleaz</title>
	<meta name="description" content="Amelia's are NFTs" />
	<meta name="keywords" content="NFTs, ethereum, amelia, peleaz, ameliapeleaz, art" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="assets/images/favicon.ico" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="assets/css/dark.css" rel="stylesheet" type="text/css">
</head>
<body>

	<div class="loading-wrapper">
		<div class="loading">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<!-- ***** navbar Start ***** -->
	<header class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-12 position-relative">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<!-- <a href="index.html" class="logo">
							<img src="assets/images/logos/transparent-logo-dark.svg" class="light-logo" alt="Amelia"/>
							<img src="assets/images/logos/white-logo-dark.svg" class="dark-logo" alt="Amelia Peleaz"/>
						</a> -->
						<!-- ***** Logo End ***** -->

						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li><a href="#what-is-amelias">WHAT ARE AMELIAS</a></li>
							<li><a href="#faq">FAQ</a></li>
						</ul>
						<a class='menu-trigger'>
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Navbar End ***** -->

  {{ content }}

	<!-- ***** Contact & Footer Start ***** -->
	<footer id="contact">
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<p class="copyright">2021 © Amelia Peláez Foundation </p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ***** Contact & Footer End ***** -->


	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="assets/js/particles.min.js"></script>
	<script src="assets/js/scrollreveal.min.js"></script>
	<script src="assets/js/jquery.downCount.js"></script>
	<!-- <script src="assets/js/parallax.min.js"></script> -->

	<!-- Global Init -->
	<script src="assets/js/particle-dark.js"></script>
	<script src="assets/js/custom.js"></script>
</body>
</html>
